# example netlify.toml
[build]
    base = /opt/build/repo
    command = "CI='' react-scripts build"
    commandOrigin = "config"
    functions = "/opt/build/repo/netlify/functions"
    publish = "/opt/build/repo/build"
    NODE_VERSION = "15.14.0"
    NPM_VERSION = "7.11.1"

  ## Uncomment to use this redirect for Single Page Applications like create-react-app.
  ## Not needed for static site generators.
  [[redirects]]
    from = "/*"
    status = 200
    to = "/index.html"

  ## (optional) Settings for Netlify Dev
  ## https://github.com/netlify/cli/blob/main/docs/netlify-dev.md#project-detection
  #[dev]
  #  command = "yarn start" # Command to start your dev server
  #  port = 3000 # Port that the dev server will be listening on
  #  publish = "dist" # Folder with the static content for _redirect file

  ## more info on configuring this file: https://www.netlify.com/docs/netlify-toml-reference/
