/**
 * Remember your why
 * */

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Press+Start+2P&family=Zilla+Slab+Highlight&display=swap');

.laarzae-logo {
    width: 33%;
}