/**
 * Remember your why
 **/

@media only screen and (min-width: 250px) {
    .gtgb-banner-1-btn {
        background-color: black;
        }

    .gtgb-banner-1 {
        width: 100%;
        padding: 1% 18%;
        }
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 1800px) {

}