/**
 * Remember your why
 **/
.gtgb-banner-1-btn {
    background-color: black;
    }

.gtgb-banner-1-btn:hover {
    cursor: pointer;
    }

.gtgb-banner-1-btn > img {
    padding: 1% 14%;
    width:   100%;
    }
