/**
 * Remember your why
 **/
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    padding: 2rem;
    margin: 2% 3%;
    border: .25rem solid #cd5700;
    background-color: rgba(111, 111, 111, 0.5);
    border-radius: 3rem;
}

.mug-shot {
    border-radius: 3rem;
}

.popover-btn {
    border-radius: 3rem;
    padding: .3rem;
    margin: .1rem;
}

.deetsDrop:hover {
    cursor: cell;
}

.deets {
    font-size: 1.5rem;
    /*max-height: 12rem;*/
    height: fit-content;
}

.member-fig-cap {
    border: 1rem solid black;
    background-color: antiquewhite;
    border-radius: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

