/**
 * Remember your why
 * */

nav {
    margin: 1.5%;
    display: flex;
}

.navLink {
    padding: .5rem;
    margin: 1%;
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.75rem;
    text-decoration: none;
    background-color: rgb(200, 39, 4);
    border-radius: 3rem;
}

.navLink:hover {
    color: rgb(36, 48, 16);
    background-color: rgb(32, 194, 141);
}

@media only screen and (max-width: 750px){
    .navLink{
        width: 50%;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }

}

@media only screen and (max-width: 500px){
    .navLink{
        width: 75%;
    }

}
