/**
 * Remember your why
 *
 * font import is in index.css
 *
 * Prefixed by https://autoprefixer.github.io
 * PostCSS: v7.0.29,
 * Autoprefixer: v9.7.6
 * Browsers: last 4 version
 **/

@media only screen and (min-width: 250px) {
    nav {
        display:         -webkit-box;
        display:         -ms-flexbox;
        display:         flex;
        -webkit-box-orient:  vertical;
        -webkit-box-direction:  normal;
        -ms-flex-direction:  column;
        flex-direction:  column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align:     center;
        -ms-flex-align:     center;
        align-items:     center;
    }

    .laarzae-logo {
        width: 46%;
    }

    .navLink {
        width:            50%;
        height:           24%;
        padding:          1rem;
        margin-bottom:    .5rem;
        color:            white;
        font-size:        1rem;
        font-family:      "Press Start 2P", cursive;
        text-align:       center;
        text-decoration:  none;
        white-space:      nowrap;
        background-color: rgb(200, 39, 4);
        border-radius:    3rem;
    }

    .navLink:hover {
        color:            rgb(36, 48, 16);
        background-color: rgb(32, 194, 141);
    }
}

@media only screen and (min-width: 600px) {
    nav {
        margin: 0 2%;
    }

    .navLink {
        width:     33%;
        font-size: 1.125rem;
    }
}

@media only screen and (min-width: 768px) {
    .laarzae-logo {
        width:  24%;
        margin: 0 0 0 4%;
    }

    nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .navLink {
        -ms-flex-item-align: end;
        align-self:          flex-end;
        /*noinspection CssInvalidPropertyValue*/
        width:               -webkit-fit-content;
        width:               -moz-fit-content;
        width:               fit-content;
        margin:              0 0 5% 1%;
        font-size:           1.125rem;
    }

    .lastNavLink {
        margin-right: 6%;
    }
}

@media only screen and (min-width: 992px) {
    .laarzae-logo {
        margin: 0 4% 0 3%;
    }

    .navLink {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width: 1200px) {
    .laarzae-logo {
        margin-right: 20%;
    }

    .navLink {
        width: 18%;
    }
}

@media only screen and (min-width: 1800px) {
    .laarzae-logo {
        width:        20%;
        margin-right: 25%;
    }

    nav {
        margin: 0 4%;
    }

    .navLink {
        width:  12%;
        margin: 0 0 5.25% 1%;
    }
}
