/**
 * Remember your why
 * */

@use '../../sass/_projectVariables';

nav {
    margin: 1.5%;

    .navLink {
        padding: 1%;
        margin: 1%;
        color: white;
        font-family: projectVariables.$pixel-font-stack;
        font-size: 2.25rem;
        text-decoration: none;
        background-color: projectVariables.$fire-red;
        border-radius: 3rem;
    }
    .navLink:hover {
        background-color: projectVariables.$ocean-green;
    }
}
