/**
 * Remember your why
 *
 * font import
 **/
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Press+Start+2P&family=Zilla+Slab+Highlight&display=swap");

/**
 * tdubs reset made by mixing minimalistic and condensed universal reset
 *
 * I add the font-size to ensure proper REM render, and old browser support
 *
 * Media query for larger screens so the site doesn't bleed edge to edge
 *
 **/

* {
	box-sizing: border-box;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
}
@media screen and (min-device-width: 1920px) {
	* {
		margin: 0 2%;
	}
}

html {
	font-size: 62.5%;
	background-color: black;
	scroll-behavior: smooth;
}

/**
 * use to hide headers and hgroups visually without losing SEO and screen reader functionality from headers and hgroups
 **/
.screen-reader-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}

/**
 * source : https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 **/

/**
 * Randy's scrollbar styling
 **/
html::-webkit-scrollbar {
    width: 1.5rem;
    background-color: rgba(38, 20, 71, 0.75);
}

html::-webkit-scrollbar-track {
    border-radius: 2%;
}

html::-webkit-scrollbar-thumb {
    outline: .25rem solid white;
    border-radius: 2%;
    background-color: rgba(32, 194, 141, 0.75);
}

