/**
 *
 * Remember your why
 *
 * found on web to ensure h1 and h2 for SEO and screen readers without having the company name and slogan visible when the logo is there
 *
 * @format
 */

.screen-reader-only {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	word-wrap: normal;
}
/* source : https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/ */
